
body{

    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    user-zoom:none;
    
}


main{

    display:flex;
    flex-direction:column;
    margin:0px;
    padding:0px;
    background-color:rgb(250, 245, 237);
    width:100vw;
    height:95vh;
    align-items:center;
    justify-content:center;

}

footer{

    background-color:#f5f5f5;
    height:5vh;
    width:100vw;
    text-align:center;
    font-weight: bold;
    font-size:3vh;
    display:flex;
    align-items:center;
    justify-content: center;

}

.git-logo{

    width:100%;
    height:auto;
    max-width:2vmax;

}




.calc-container{
    width:60vw;
    height:80vh;
    display:flex;
    flex-direction:column;
    border:1px solid black;
    background:#000000;
    border-radius:2%;
    padding-top:10px;

}

/* general settings ///////////////////////////////////////////////////////////////////*/



.calc-head{

    width:60vw;
    height:20vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-family:"Geostar Fill","cursive";
    border-top-left-radius:4%;
    border-top-right-radius:4%;
    
}

.calc-screen{

    display:flex;
    color:#33ff33;
    height:8vh;
    width:50vw;
    align-items: center;
    font-size:4vw;
    border-top-left-radius:1%;
    border-top-right-radius:1%;
    border-top:1px solid rgba(37, 33, 20);
    border-left:1px solid rgba(37, 33, 20);
    border-right:1px solid rgba(37, 33, 20);
    padding-right:5px;
    background-color:rgb(35, 43, 21);



}

.calc-res{
  
    color:#33ff33;
    height:8vh;
    width:50vw;
    text-align: right;
    display:flex;
    justify-content:end;
    align-items:end;
    font-size:4vw;
    border-bottom-left-radius:1%;
    border-bottom-right-radius:1%;
     border-bottom:1px solid rgb(37, 33, 20);
    border-left:1px solid rgb(37, 33, 20);
    border-right:1px solid rgb(37, 33, 20);
   
    padding-right:5px;
    padding-bottom:5px;
    background-color:rgb(35, 43, 21);
}




/* calculator head settings/////////////////////////////////////////////////////////////////////////////////// */



.calc-body{

    width:60vw;
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-content: space-around;
    background:black;
    border-bottom-left-radius:2%;
    border-bottom-right-radius:2%;
    padding-bottom:10px;
}

.row{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width:50vw;
    height:10vh;
    align-items: center;
    
}

.cell{
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid gray;
    height:8vh;
    width:8vw;
    color:#f5f5f5;
    font-size:4vh;
    background-color:gray;
    font-weight:bold;
    border-radius:10%;
}

#cell-equal,#cell-plus,#cell-minus,#cell-div,#cell-per,#cell-mult{
    background-color:#b64a85;
    border:1px solid #b64a85;
}

#cell-d,#cell-c{
    
    color:#5dc09f;
    border:1px solid gray;

}


#cell-negative{

    font-size:3vh;
}

/* Body settings////////////////////////////////////////////////////////////////////////////////////////////////// */




